@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Version>

<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Version</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
      <script src="~/Scripts/angular.min.js"></script>
      <script src="~/Scripts/angular-resource.js"></script>
      <script src="~/Scripts/app.min.js"></script>
  </head>
  <body>
      <h1>Hello, world!</h1>
      
      <div ng-controller="Version.Controller">
          <p>{{Hello}}</p>
      </div>
      
      
      <script src="~/Scripts/bootstrap.min.js"></script>

  </body>
</html>
